<header-link></header-link>
<div class="flex flex-col m-10">
    <div>
        <label for="user_id">email</label>
        <input type="email" name="user_id" id="user_id" class="border w-full">
    </div>
    <div>
    <label for="user_pw">password</label>
    <input type="password" name="user_pw" id="user_pw" class="border w-full">
    </div>
    <div class="flex justify-between">
        <button>Sign in</button>
        <a href="" class="text-blue-400 italic text-sm">forgot password?</a>
    </div>
</div>