<!DOCTYPE html>
<html lang="ko" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>exampl1</title>
</head>
<body ng-app="app">
<div ng-controller="ctrl1">
    <input type="text" ng-model="first"> <br>
    <input type="text" ng-model="second"> <br>
    
    <button ng-click="sumClick()">sum</button> <br>
    sum : <span data-ng-bind="sum1"></span>
    <hr>
    {{person.firstName}} {{person.lastName}}
    <h1>capital</h1>
    <ul>
        <li ng-repeat="capital in capitals">
            {{ 'nation: ' + capital.nation + ' city : ' + capital.city}}
        </li>
    </ul>
    <h3>과일리스트</h3>
    <div ng-include="'template/grocerylist.tpl.html'"></div>
    <label for="chkListType">Number List</label>
    <input type="checkbox" ng-model="showList" id="chkListType">
    <div>
    <ng-include src="getList()"/>
    </div>

    <label for="number4">number (1-4)</label>
    <input type="text" id="number4" ng-model="number4"  />
    <div ng-switch="number4">
        <p ng-switch-when="1">you entered 1</p>
        <p ng-switch-when="2">you entered 2</p>
        <p ng-switch-when="3">you entered 3</p>
        <p ng-switch-when="4">you entered 4</p>
        <p ng-switch-default>Not following directions</p>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>    
<script src="js/example1.js"></script>
</body>
</html>